'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Flutter'
        submenu: [
          { label: 'Package Settings…', command: 'flutter:settings' }
          { type: 'separator' }
          { label: 'Create new Flutter project…', command: 'flutter:create-project'}
          { label: 'Getting Started…', command: 'flutter:getting-started' }
          { type: 'separator' }
          { label: 'Flutter Upgrade…', command: 'flutter:upgrade' }
          { type: 'separator' }
          { label: 'Send Feedback…', command: 'flutter:send-feedback'}
        ]
      }
    ]
  }
]
